
params {
    publish_dir_mode    = 'link'
    outdir              = './results'
    pgdspider_spid      = "$baseDir/assets/PED_GENEPOP.spid"
}

process {
    executor = 'local'

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: PLINK_SUBSET {
        publishDir = [
            path: { "${params.outdir}/plink_subset/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.{map,ped}"
        ]
    }
}

profiles {
    conda {
        params.enable_conda    = true
        docker.enabled         = false
        singularity.enabled    = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
}

executor {
  // for the local executor, I will set the maximum values of CPU and MEMORY
  $local {
    cpus = 4
    memory = '8 GB'
  }
}
